workflows/AI-Powered Customer Support Automation Pipeline.json
{
  "name": "AI-Powered Customer Support Automation Pipeline",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "3c21b94c-8646-48c9-9ad5-5aff69ebc9a9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kUUwTh5funGGPfiZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.threadId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "81f498d0-1a69-4ab1-93fe-ddd636e35e9e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "UNREAD",
            "INBOX"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        0
      ],
      "id": "9a96416f-88af-4a73-b48a-d0c5ee45eebb",
      "name": "Automated Trigger Listener",
      "credentials": {
        "gmailOAuth2": {
          "id": "OUPu00dFiIvrR805",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Basahin mo ang email na ito:\n{{ $json.snippet }}\n\nIbigay mo ang sagot mo sa ganitong eksaktong JSON format lamang (walang ibang text, walang backticks, walang explanation):\n{\n  \"Sentiment\": \"[Ilagay kung Galit, Masaya, o Neutral]\",\n  \"Summary\": \"[Maikling summary ng reklamo o email]\",\n  \"Reply\": \"[Ang mismong isasagot mo sa customer bilang isang tao. Diretso reply lang.]\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "e5adfc62-a248-4baf-80ce-0c13ad157e2b",
      "name": "Natural Language Understanding (NLU) Core"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KCmJrGUzjzc5oQ4roTNTpW7jnWimsy0MfLj67BsXJOs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Ai_Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KCmJrGUzjzc5oQ4roTNTpW7jnWimsy0MfLj67BsXJOs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sentiment": "={{ JSON.parse($('Natural Language Understanding (NLU) Core').item.json.output).Sentiment }}",
            "Summary": "={{ JSON.parse($('Natural Language Understanding (NLU) Core').item.json.output).Summary }}",
            "Reply": "={{ JSON.parse($('Natural Language Understanding (NLU) Core').item.json.output).Reply }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reply",
              "displayName": "Reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        0
      ],
      "id": "60316b8b-70e0-4550-88c8-d9ce6176d492",
      "name": "Automated Data Logging System",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tV8VJzvZbIAt5ZWq",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('Automated Trigger Listener').item.json.threadId }}",
        "messageId": "={{ $('Automated Trigger Listener').item.json.id }}",
        "message": "={{ JSON.parse($('Natural Language Understanding (NLU) Core').item.json.output).Reply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        800,
        0
      ],
      "id": "571bfc19-564f-4132-84ac-3d5e3f323099",
      "name": "Dynamic Response Generator",
      "webhookId": "e354853e-ef62-400a-b5b1-284d0ab1c73b",
      "credentials": {
        "gmailOAuth2": {
          "id": "OUPu00dFiIvrR805",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Natural Language Understanding (NLU) Core",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Natural Language Understanding (NLU) Core",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Automated Trigger Listener": {
      "main": [
        [
          {
            "node": "Natural Language Understanding (NLU) Core",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Natural Language Understanding (NLU) Core": {
      "main": [
        [
          {
            "node": "Automated Data Logging System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Automated Data Logging System": {
      "main": [
        [
          {
            "node": "Dynamic Response Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d9cf616b-1ac6-4b72-9e0b-9419fb0042f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc9ca66d7bb0091fa4368520c5f6856a740fecbd13098e8cb483992422affe1f"
  },
  "id": "LxAEuCNoJNYOUWN4",
  "tags": []
}